<h1>Create a Team and Heroes!</h1>

<form class="" action="/teams" method="post">
<label for="team_name">Team Name</label>
<input type="text" name="team[name]" value="">
<label for="team_motto">Motto</label>
<input type="text" name="team[motto]" value="">

<h1>Hero 1</h1>
<label for="name">Hero's Name</label>
<input type="text" name="team[members][0][name]" value="">
<label for="power">Hero's Power</label>
<input type="text" name="team[members][0][power]" value="">
<label for="biography">Hero's Biography</label>
<input type="text" name="team[members][0][biography]" value="">

<h1>Hero 2</h1>
<label for="name">Hero's Name</label>
<input type="text" name="team[members][1][name]" value="">
<label for="power">Hero's Power</label>
<input type="text" name="team[members][1][power]" value="">
<label for="biography">Hero's Biography</label>
<input type="text" name="team[members][1][biography]" value="">

<h1>Hero 3</h1>
<label for="name">Hero's Name</label>
<input type="text" name="team[members][2][name]" value="">
<label for="power">Hero's Power</label>
<input type="text" name="team[members][2][power]" value="">
<label for="biography">Hero's Biography</label>
<input type="text" name="team[members][2][biography]" value="">
</form>
